.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    gap: 20px;
}

.user {
    /*width: 100%;*/
    height: 265px;
    width: 265px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
}

.img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    justify-content: center;
}

.img img {
    width: 100%;
    /*height: 250px;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;

}

/*.save {*/
/*    transition: 0.2s ease-in-out;*/
/*    border-radius: 10px;*/
/*    margin: 20px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: #ffffff;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    /*align-items: space-around;*/
}

.save .svg {
    transition: 0.2s ease-in-out;
    width: 15px;
    height: 15px;
}

.text .h3 {
    /*font-family: 'Lucida Sans' sans-serif;*/
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.text .p {
    /*font-family: 'Lucida Sans' sans-serif;*/
    color: #999999;
    font-size: 13px;
}

.icon-box .span {
    margin-left: 10px;
    /*font-family: 'Lucida Sans' sans-serif;*/
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.save:hover {
    transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
    fill: #ced8de;
}

/*.actions {*/
/*    margin-top: 1.5rem;*/
/*}*/

/*.actions a {*/
/*    width: 100%;*/
/*    text-decoration: none;*/
/*}*/


/*.mark-as-read, .read {*/
/*    display: inline-block;*/
/*    border-radius: 0.5rem;*/
/*    !*width: 100%;*!*/
/*    padding: 0.75rem 1.25rem;*/
/*    text-align: center;*/
/*    font-size: 0.875rem;*/
/*    line-height: 1.25rem;*/
/*    font-weight: 600;*/
/*}*/

/*.read {*/
/*    background-color: rgba(59, 130, 246, 1);*/
/*    color: rgba(255, 255, 255, 1);*/
/*}*/

/*.mark-as-read {*/
/*    margin-top: 0.5rem;*/
/*    background-color: rgba(249, 250, 251, 1);*/
/*    color: rgba(107, 114, 128, 1);*/
/*    transition: all .15s ease;*/
/*}*/

/*.mark-as-read:hover {*/
/*    background-color: rgb(230, 231, 233);*/
/*}*/