#home {
	background-color: var(--blue-bg);
}

.slideshow__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	margin-bottom: 24px;
	position: relative;
}

.slideshow__blur, .slideshow__darker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.slideshow__blur {
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.66);
    filter: blur(12px);
    -webkit-filter: blur(12px);
    z-index: -2;
	height: calc(100vh - 16px);
}

.slideshow__darker {
    background-color: rgba(0, 0, 0, 0.66);
    z-index: -1;
	height: 100vh;
}

.slideshow {
    z-index: 8;
	max-width: 840px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.slideshow__controls {
	z-index: 3;
	padding: 12px 0;
}

.slideshow__current {
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	background-size: cover;
}

.slideshow__control--next,
.slideshow__control--prev {
	position: absolute;
	top: 50%;
	height: 60px;
	width: 36px;
	transform: translateY(-50%);
}

.slideshow button {
	background: rgba(255, 255, 255, 0);
	color: #fff;
	border: none;
}

.slideshow button:hover {
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.slideshow__control--prev {
	left: 0;
}

.slideshow__control--next {
	right: 0;
}

.controls--buttons{
	height: 4px;
	width: 20px;
	background: rgba(255, 255, 255, 0.45);
	padding: 0;
	border: none;
	margin: 0 2px;
}

.controls--buttons:hover {
	cursor: pointer;
}

.controls--buttons.active {
	background: #ffffff;
}

.slideshow__controls .controls__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
}

/* Fading animation */

