@import url("src/public/css/style.css");
.content {
  padding-top: 64px;
  background: var(--blue-bg);
  color: var(--white);
}

.bg-card {
  position: sticky;
  top: 0;
}

.front-side {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}


.info {
  color: var(--white);
}

.info p {
  color: var(--white);
}

.functional{
    align-items :center;
}

.play-song {
    font-size: 3rem;
    color: var(--hightlight);
    
}
.more-info {
  font-size: 2rem;
}

.play-song:hover ,.repeat-song:hover,.more-info:hover, .more:hover, .edit-name:hover{
  cursor: pointer;
  opacity: .8;
  transition: 0.5s;
}

.play-song:hover {
  font-size: 3.3rem;
}


.more-function {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 50%;
  top: 98%;
  background-color: #212529;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 120px;
  /* padding: 0 12px; */
  padding-inline-start: 0;
  border-radius: 4px;
}
.more-function li a {
  color: var(--white);
  text-decoration: none;
  line-height: 46px;
  display: block; 
  padding: 0 24px;

}

.more-function li:hover a {
  border-radius: 4px;
  background-color: var(--grey);
}

.media {
  justify-content: space-between;
  padding: 10px;
  gap: 1em;
}

.media:hover {
  background-color: var(--blue-sb);
  border-radius: 5px;
  transition: 0.5s;
}

.playlist-header {
  background-image: url("src/public/assets/imgs/song1.png");
  /* color: black; */
}

.card-title,
.card-text {
  color: black;
}

.media-left .card-info {
  height: 3rem;
}

.media-left .card-info p {
  font-size: 0.9em;
  color: var(--grey);
}

.media-right .fa-solid {
  float: right;
  /* margin-right: 1em; */
}

.songThumbnail {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.songThumbnail img {
  height: 100%;
  border-radius: 4px;
}

.songThumbnail .icon-play-song {
  visibility:hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media:hover .icon-play-song {
  visibility: visible;
}
